@font-face {
  font-family: 'Golos-text';
  src: url('../../../public/_nuxt/fonts/Golos-Text_Medium.ttf') format('truetype'),
    url('../../../public/_nuxt/fonts/Golos-Text_Regular.ttf') format('truetype'),
    url('../../../public/_nuxt/fonts/Golos-Text_Bold.ttf') format('truetype');
  font-display: swap;
}