@font-face {
  font-family: 'Golos-text';
  src: url('/_nuxt/fonts/GolosText_Medium.ttf') format('truetype'),
    url('/_nuxt/fonts/GolosText-Regular.ttf') format('truetype'),
    url('/_nuxt/fonts/GolosText-Bold.ttf') format('truetype');
  font-display: swap;
}