*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    color: var(--fg-hover);
  }
}
p a,
.link {
  color: var(--fg-linked);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  li {
    display: block;
  }

}

img {
  max-width: 100%;
  border: none;
}
